# Force PHP 8.3
AddHandler application/x-httpd-ea-php83 .php

# Laravel Rewrite Rules
<IfModule mod_rewrite.c>
    Options -MultiViews -Indexes
    RewriteEngine On
    
    # Redirect root langsung ke /login
    RewriteRule ^/?$ /login [R=301,L]
    
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

# Block .env
<Files .env>
    Deny from all
</Files>